:root {
    --title-font: 'Montserrat', Arial, Helvetica, sans-serif;
    --secondary-font: 'Roboto', Arial, Helvetica, sans-serif;
    --font-color: #303030;

    --main-color: rgb(38, 70, 83);
    --secondary-color: rgb(233, 196, 106);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.backdrop {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/* === HEADER SECTION === */
header {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(48, 48, 48, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.company-logo {
    display: flex;
    align-items: center;
}

.company-logo img {
    width: 5rem;
    filter: invert(99%) sepia(46%) saturate(2482%) hue-rotate(313deg) brightness(95%) contrast(93%);
}

.company-logo-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
    font-family: var(--title-font);
    color: var(--secondary-color);
}

.toggle-button {
    width: 2.5rem;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    right: 1rem;
    cursor: pointer;
}

.toggle-button__bar {
    margin: 0.5rem 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(233, 196, 106);
    display: block;
}

/* === NAV BAR === */

.desktop-nav {
    display: none;
}

.mobile-nav-container {
    position: fixed;
    z-index: 121;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: var(--main-color);
    transform: translateX(-70vh);
    transition: transform .5s ease-out;
}

.open {
    transform: translateX(0);
}

.mobile-nav-flex {
    height: 100vh;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-nav__items {
    list-style: none;
    padding: 0;
}

.nav-link {
    display: block;
    margin-top: 0.5rem;
    padding: 5px 20px;
    text-decoration: none;
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(233, 196, 106);
}

.nav-link:hover {
    border-radius: 5px 0 0 5px;
    background-color: rgb(233, 196, 106);
    color: rgb(38, 70, 83);
}


/* === HERO SECTION */

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-featured__title {
    font-family: var(--title-font);
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--font-color);
    margin: 2.5rem 1.5rem 0 1.5rem;
}

.hero-featured__description {
    font-family: var(--secondary-font);
    font-size: 1rem;
    margin: 0.5rem 1.5rem 0 1.5rem;
    line-height: 1.5rem;
    color: var(--font-color);
}

.hero-btn {
    cursor: pointer;
    margin: 1.3rem;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    background-color: #F4A261;
    color: rgb(38, 70, 83);
    font-family: var(--title-font);
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 1px 2px 10px rgba(55, 55, 55, 0.3);
}

.hero-btn:hover {
    background-color: #f9aa6a
}

.hero-btn:active {
    background-color: #e79552;
}

.hero-featured__img img {
    width: 100vw;
    box-shadow: 0 4px 10px rgba(48, 48, 48, 0.5);
}


.parks-info h2 {
    text-align: center;
    font-family: Montserrat;
}

.parks-info {
    padding: 0 50px 0 50px;
}

.parks-info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 32px;
}

.cards {
    max-width: 125px;
}

.card-img {
    width: 120px;
    height: 120px;
    border: 2px solid #2A9D8F;
    border-radius: 10px;

}

.menu-cap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .card-cap {
    width: 120px;
    border: 2px solid #fff;
    margin: 3px;
} */


.signup-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #F4A261;
    max-width: 1140px;

}

footer {
    margin-top: 100px;
    background-color: rgb(38, 70, 83);
}

footer p {
    color: white;
    text-align: center;
    padding: 30px;
    margin: 0;
}


@media (min-width: 40rem) {
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .company-logo {
        display: flex;
    }

    .company-logo img {
        width: 10rem;
        filter: invert(99%) sepia(46%) saturate(2482%) hue-rotate(313deg) brightness(95%) contrast(93%);
    }

    .company-logo-title {
        font-size: 3rem;
    }
}